.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #A93C3C;
    padding-left: 50px;
}
/*modifica bloque de footer*/

html {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
/*este es el html del footer*/

.imagensitio {
    float: right;
    height: 100%;
    max-width: 100%;   /*ancho de foto principal de inicio*/
}

.nav-wrapper {
    background-color:whitesmoke;
    color: black;
    height: 100px !important;   
    text-align: left;
    padding-top: 30px;
}/*fondo navbar*/
    
nav ul a {
    color: black;
} /*color de las secciones del navbar*/

h3 {
    padding-left: 50px;
    padding-top: 100px;
} /*texto "Te invitamos a ....*/

h4 {
    color: #FAB446;
    padding-left: 50px;
} /*texto "Desde 30 USD"*/

#cantidadhuespedes {
padding-left: 50px;
width: 95%;
} /* id para select de numero de personas*/

h5 {
    padding-left: 50px;  
    
}

img.responsive-img {    
    max-width: 20%;
    height: auto;
    padding-left: 50px;
} /*logotipo Renacimiento*/

.idioma1 {
border-radius: 50px;
}
.browser-default {
    float: right;
}

#Buscarhab {
    width: 239px;
height: 48px;
border-radius: 10px;
background-color: #fab446;
}